---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import ImageLightbox from '../../components/ImageLightbox.svelte'

const allProjects = await getCollection('portfolio');
---
<BaseLayout title="My Portfolio">
    <h1>My Portfolio</h1>
    <div class="project-grid">
        {allProjects.map((project:CollectionEntry<'portfolio'>) => (
            <ImageLightbox
                client:visible 
                imageSrc={project.data.fullImg}
                title={project.data.title}
                desc={project.data.desc}
                >
        <div class="project-card">
            <Image
                src={project.data.thumbImg}
                alt={project.data.title}
                width={500}
                height={300}
                format="avif"
                />
                <h2>{project.data.title}</h2>
                </div>
        </ImageLightbox>
                ))}
    </div>
</BaseLayout>

<style>
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
  }
  .project-card {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: block;
  }
  .project-card img {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .project-card h2 {
    margin-top: 0.5rem;
    font-size: 1.25rem;
  }
</style>